@font-face {
  font-family: 'MiFuente';
  src: url('../Font/Mokoto\ Glitch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'MiFuente', sans-serif;
  font-size: 11px;
  background-color: #f9f9f9;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar products"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  background-color: #6200ea;
  color: white;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffbc00;
}
/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: #eee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.sidebar a {
  text-decoration: none;
  color: black;         
  font-weight: bold;
}

.sidebar a:hover {
  color: #ffbc00;           
  text-decoration: underline;
}
.sidebar h3 {
  margin-bottom: 0.5rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Products */
.products {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;

}

/* Product cards */
.product-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card button {
  border: none; 
  color: black;
  font-weight: bold; 
  background: #6200ea;
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  display: inline-flex;
}

.product-card:hover {
  transform: scale(1.02);
  background-color: #ffbc00;
}

.product-card:hover p {
  color: #6200ea;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
}

.product-card h4 {
  margin: 0.5rem 0 0.2rem;
}

.product-card p {
  font-weight: bold;
  color: #ffbc00;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color:#ffbc00;
  padding: 1rem;
  text-align: center;
}